<!DOCTYPE html>
<html> 
    <head>
        <title>Gimmick-Websites-Built-By-Scratch</title>
    </head>
    <body style="background-color: #ffeab0">
        <br>
        <br>
        <h1><center>Gimmick Websites Built By Scratch</center></h1>
        <h2><center>This are websites I have created using HTMl.</center></h2>
        <br>
        <br>
        <ol>
            <li>
                <a> September 12, 2026 - </a><a href="https://how-many-words-are-there-1.onrender.com">How many words are there.</a>
            </li>
            <li>
                <a> September 17, 2026 - </a><a href="https://this-is-a-troll-website.onrender.com">La mia prima pagina</a>
            </li>
            <li>
                <a> September 22, 2026 - </a><a href="https://celestial-night-palette.onrender.com">Crimson Twilight Palette</a>
            </li>
            <li>
                <a>September 22, 2026 - </a><a href="https://gimmick-websites-built-by-scratch.onrender.com">Gimmick websites built by scratch</a>
            </li>
        </ol>
    </body>
</html>
