<!DOCTYPE html>
<html> 
    <head>
        <title>Gimmick-Websites-Built-By-Scratch</title>
    </head>
    <body style="background-color: #ffeab0">
        <br>
        <br>
        <h1><center>Gimmick Websites Built By Scratch</center></h1>
        <h2><center>These are websites I have created using HTMl.</center></h2>
        <a href="https://personal-lospec-palettes.onrender.com"><center><b>Personal Lospec | Palettes</b></center></a>
        <br>
        <br>
        <ol>
            <li>
                <a> September 12, 2026 - </a><a href="https://how-many-words-are-there-1.onrender.com">How many words are there.</a>
            </li>
            <li>
                <a> September 17, 2026 - </a><a href="https://this-is-a-troll-website.onrender.com">La mia prima pagina</a>
            </li>
            <li>
                <a> September 22, 2026 - </a><a href="https://crimson-twilight-palette.onrender.com">Crimson Twilight Palette</a>
            </li>
            <li>
                <a>September 22, 2026 - </a><a href="https://gimmick-websites-built-by-scratch.onrender.com">Gimmick websites built by scratch</a>
            </li>
            <li>
                <a>September 22, 2026 - </a><a href="https://personal-lospec-palettes.onrender.com">Personal Lospec | Palettes</a>
            </li>
            <li>
                <a>September 22, 2026 - </a><a href="https://la-persona-en-quien-predomina-el-estilo.onrender.com">La-persona-en-quien-predomina-el-estilo-pasivo-se-caracteriza-por-lo-siguienete</a>
            </li>
            <li>
                <a>September 22, 2026 - </a><a href="https://mis-aficiones.onrender.com">Mis aficiones</a>
            </li>
            <li>
                <a>September 22, 2026 - </a><a href="https://list-of-names-because-arsonists.onrender.com">List of Names because arsonists</a>
            </li>
            <li>
                <a>September 24, 2026 - </a><a href="https://ejemplo-de-tabla.onrender.com">Ejemplo de tabla</a>
            </li>
        </ol>
    </body>
</html>
